{% extends 'menu-layout.html.twig' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home.index') }}">Acceuil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('student.index') }}">Étudiants</a></li>
        <li class="breadcrumb-item active" aria-current="page">Créer un étudiant</li>
    </ol>
</nav>
<h1>Créer un étudiant</h1>

    {{ form(form) }}
{% endblock %}
