{% extends 'menu-layout.html.twig' %}
{% block content %}
{% include 'shared/flash.html.twig' %}
    <div class="row">
        <div class="col-12">
            <div class="my-4 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis">Bienvenue sur MileMasters</h1>
                <div class="col-lg-12 mx-auto">
                    <p class="lead mb-4">Vous trouverez sur cette page les statistiques des 10 dernières épreuves !</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            {{ render_chart(chart) }}
        </div>
    </div>
{% endblock %}
