{% extends 'menu-layout.html.twig' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home.index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('class.index') }}">Classes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Créer la classe</li>
    </ol>
</nav>
<h1>Créer la classe</h1>

    {{ form(form) }}
{% endblock %}
