#general-menu .nav-link,
#general-menu .navbar-brand {
    color: rgba(255, 255, 255, 1) !important;
}

#general-menu .active {
    border-bottom: 1px solid white;
}
.login-body {
    background-image: url("images/login.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

#main-container {
    max-height: calc(100vh - 3.54rem);
    overflow-y: auto;
    padding: 30px 100px;
}

.trophy-gold {
    color: #ffd700;
}

.trophy-silver {
    color: #d0ccc9;
}

.trophy-bronze {
    color: #bd993b;
}

.card-with-image {
    padding: 0;
}