<div class="container text-center">  
    {% for type, messages in app.flashes %}
    <div class="row">
        <div class="col">
            <div class="alert alert-{{ type }}">
                {{ messages | join('. ')}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>