{% extends 'menu-layout.html.twig' %}

{% block content %}
{% include 'shared/flash.html.twig' %}
    <main>
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold text-body-emphasis">Gestion des arrivées</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">La gestion des arrivées est désactivée pour le moment, veuillez créer des classes, étudiants et des épreuves et inscrivez les pour faire évoluer cet écran !</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a class="btn btn-primary btn-lg px-4 gap-3" href="{{ path('class.index') }}">Classes</a>
              <a class="btn btn-primary btn-lg px-4 gap-3" href="{{ path('test.index') }}">Epreuves</a>
              <a class="btn btn-primary btn-lg px-4 gap-3" href="{{ path('student.index') }}">Etudiants</a>
            </div>
          </div>
        </div>
      </main>
{% endblock %}
